services:
  db:
    image: postgres:14.1-alpine
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]  
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - db-data:/var/lib/postgresql/data  
    ports:
      - "5433:5432"
    networks:
      - custom 
  mongodb:
    image: mongo:latest
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASS}
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"
    networks:
      - custom

  redis:
    image: redis:alpine
    restart: always
    environment:
      REDIS_PASSWORD: ${REDIS_PASS}
    command: [
      "redis-server",
      "--requirepass", "${REDIS_PASS}",
      "--appendonly", "yes"
    ]  
    volumes:
      - redis-data:/data
    ports:
      - "6379:6379"
    networks:
      - custom   
  rabbitmq:
    image: rabbitmq:3-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq       
    networks:
      - custom     
  backend:
    image: activists_backend_image
    build:
      context: .
    depends_on:
      db:
        condition: service_healthy
      mongodb:
        condition: service_started
      redis:  
        condition: service_started  
    environment:  
      REAL_DATABASE_URL: "postgresql+asyncpg://${DB_USER}:${DB_PASS}@db:5432/${DB_DB}"      
      MONGO_URL: "mongodb://${MONGO_APP_USER}:${MONGO_APP_PASS}@mongodb:27017/${MONGO_DB}?authSource=admin"
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_PASS: ${REDIS_PASS}
    ports:
      - "8000:8080"
    networks:
      - custom
  worker:
    build: .
    command: celery -A services.celery_app worker --loglevel=INFO
    environment:
      CELERY_BROKER_URL: amqp://guest:guest@rabbitmq:5672//
      CELERY_RESULT_BACKEND: rpc://
    depends_on:
      rabbitmq:
        condition: service_healthy 
    networks:
      - custom         

  frontend:
    image: activists_frontend_image
    build:
      context: ./frontend
    ports:
      - "80:80"
    environment:
      BACKEND_HOST: backend 
      BACKEND_PORT: 8080
    depends_on:
      backend:
        condition: service_started
    networks:
      - custom       
networks:
  custom:
    driver: bridge
volumes:
  db-data:
  mongo-data:
  redis-data:
  rabbitmq-data:

